<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<title>UET Library</title>

	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
	<link rel='stylesheet prefetch' href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css'>
	
	<style>
		button:not([disabled]) {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div id="app" class="container mb-4">
		<h1 class="font-weight-light text-center mb-3 mt-2">
			Library Borrowing System
		</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Description</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="book of books">
					<th scope="row">{{ book.id }}</th>
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.description }}</td>
					<td>
						<button :disabled="isDisabled(book)" 
								@click="borrowBook(book)" 
								type="button" class="btn btn-primary btn-sm">
							<i class="fas fa-check" v-if="isBorrowed(book)"></i>
							<i class="fas fa-ban" v-else-if="isDisabled(book)"></i>
							 Borrow{{ isBorrowed(book) ? 'ed' : '' }}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
	<script src='https://use.fontawesome.com/releases/v5.0.8/js/all.js'></script>
	<script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
	<script src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>

	<script>
		$(document).ready(() => {
			const BASE_URL = 'http://localhost:3001/api/v1'

			new Vue({
				el: '#app',
				data: {
					books: [],
					borrowedBooks: []
				},
				created () {					
					axios.get(BASE_URL + '/books', {
						headers: {'Access-Control-Allow-Origin': '*'}
					})
						.then(res => {
							this.books = res.data.data

							this.$nextTick(() => {
								$('.table').DataTable()
							})
						})
				},
				methods: {
					borrowBook(book) {
						axios.put(BASE_URL + '/books/' + book.id + '/borrow')
							.then(res => {
								this.borrowedBooks.push(book.id)
								toastr.success(book.title, 'Borrowed Book!')
							})
					},
					isBorrowed(book) {
						return this.borrowedBooks.find(id => book.id === id) !== undefined
					},
					isDisabled(book) {
						return book.availableNumber < 2 || this.isBorrowed(book)
					}
				}
			})
		})
	</script>
</body>
</html>